.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 50px;
}

.game-play-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .game-play-body {
    display: flex;
    justify-content: start;
    padding-top: 0px;
  }
}
.carousel-img-list {
  padding-left: 0px;
}

@media screen and (max-width: 767px) {
  .carousel-img-list {
    width: 100%;
    padding: 0px;
  }
}
.tabs-container {
  display: flex;
  width: 400px;
  justify-content: space-around;
  padding-left: 0px;
  list-style-type: none;
}
@media screen and (max-width: 767px) {
  .tabs-container {
    width: 70%;
    margin: 0px;
    margin-bottom: 20px;
  }
}
.thumbnails-container {
  width: 500px;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  display: flex;
  list-style-type: none;
}
@media screen and (max-width: 767px) {
  .thumbnails-container {
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
  }
}
.game-body {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .game-body {
    padding: 15px;
    width: 100%;
  }
}
.game-over-body {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  background-size: cover;
  width: 400px;
  height: 500px;
  padding-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .game-over-body {
    width: 100%;
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
    background-size: cover;
    align-items: center;
    justify-content: center;
    align-items: flex-end;
  }
}
.result-image {
  height: 175px;
}
@media screen and (max-width: 767px) {
  .result-image {
    height: 120px;
    padding-top: 0px;
  }
}
.play-again-btn {
  background-color: #cf60c8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  color: #ffffff;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .play-again-btn {
    width: 120px;
    font-size: 12px;
  }
}
.game-result-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.your-score-text {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}

.game-score-text {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}
.reset-image {
  height: 20px;
  margin-right: 5px;
}
