.tab-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #ffffff;
  font-family: 'Roboto';
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .tab-btn {
    font-size: 15px;
  }
}
.selected-tab {
  color: #fec653;
  text-decoration: underline;
}
