.navbar-container {
  background-color: #2c0e3a;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
@media screen and (max-width: 767px) {
  .navbar-container {
    width: 100vw;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
}
.website-logo {
  height: 40px;
}
@media screen and (max-width: 767px) {
  .website-logo {
    height: 20px;
  }
}
.score-card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.score-text {
  color: #ffffff;
  font-family: 'Roboto';
  margin-right: 20px;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .score-text {
    font-size: 12px;
    margin-right: 10px;
  }
}
.span-text {
  color: #fec653;
  font-size: 22px;
}

@media screen and (max-width: 767px) {
  .span-text {
    font-size: 13px;
    margin-right: 10px;
  }
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer-icon {
  height: 25px;
  margin-right: 5px;
}
@media screen and (max-width: 767px) {
  .timer-icon {
    height: 18px;
  }
}
.timer-text {
  font-family: 'Roboto';
  color: #ffffff;
  margin-right: 20px;
}
@media screen and (max-width: 767px) {
  .timer-text {
    font-size: 13px;
  }
}
