.thumbnail-images {
  height: 90px;
  width: 90px;
}
@media screen and (max-width: 767px) {
  .thumbnail-images {
    height: 60px;
    width: 62px;
  }
}

.thumbnail-btn {
  background-color: transparent;
  outline: none;
  border: none;
  height: 90px;
  width: 90px;
  margin: 5px;
}
@media screen and (max-width: 767px) {
  .thumbnail-btn {
    height: 60px;
    width: 62px;
  }
}
